.logo-container
{
    
  
    width: 80%;
   
    flex-grow: 1;
    margin: 0px auto;
    position: relative;
    z-index: 2;
    display:  flex !important;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
   
}
.logo-box{
    position: relative;
    width: 38.8%;
    top: 1px;
    z-index: 5;
    user-select: none;
}
.logo-box::after {
    content: "";
    display: block;
    padding-top: 100% ;
}

.logo-groupe {
    position: absolute;
    width: 100%;
    perspective: 1000px;
}

.logo-groupe img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
}


.header-box{
    
   
    margin: 0px auto;
    padding: 20px 0px 40px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.page-header-title{
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.1226em;
    letter-spacing: -0.01em;
    margin: 17px 20px 23px;
    position: relative;
    z-index: 1;
    max-width: 500px;
}

.header-box .header-button{
    min-width: 139px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -0.3px;
    text-align: center;
    line-height: 22px;
    padding: 12px 20px;
    background: #763CF7;
    border-radius: 18px;
    display: block;
    margin-bottom: 15px;
}
.header-box .header-description{
text-decoration: none;
    font-family: var(--text);
    font-size: 12px;
    color: rgba(235, 235, 245, 0.68);
    letter-spacing: -0.08px;
    text-align: center;
    line-height: 18px;
    margin-top: 24px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    transition: color 200ms ease 0s;
}

.quill-message-section{

}

.quill-message-section-header{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0.546875em;
    line-height: 1.03125em;
    color: #BD58F0;
    max-width: 680px;
}
.quill-message-section-description{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    letter-spacing: 0.39px;
    line-height: 1.16667em;
    max-width: 680px;
}
.quill-message-section-sub-description{
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.18px;
    line-height: 1.16667;
    max-width: 680px
}

.quill-message-box{
    margin-top: 60px;
    border-radius: 24px;
    display: flex;
    padding: 50px 0px;
    flex-direction: row;
    position: relative;
    z-index: 1;
     background: linear-gradient( 320deg,rgba(235,70,52,0.5),rgba(235,70,52,0) ),linear-gradient(180deg,#bf5af2 0%,#7c0eb4 100%);
}
.quill-message-box-text{

    
    position: relative;
    padding: 75px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.quill-message-box-text img{
width: 56px;
height: 56px;
}
.quill-message-box-text h2{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -0.39px;
    margin-top: 25px;
   
    color: rgb(47,16,62);
}

.quill-message-box-desc{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1em;
    margin: 0.5em 0px;
    color: #fff
}

.quill-message-box-sub-desc{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 17px;
    line-height: 1.2em;
    font-weight: 500;
    padding-top: 15px;
}
.quill-message-box-sub-desc::before {
    content: "";
    display: block;
    width: 90%;
    margin-bottom: 18px;
    background: rgba(255, 255, 255, 0.2);
    height: 2px;
    border-radius: 2px;
}

.quill-message-box-video{
    border-radius: 10px;
    background: rgb(51, 51, 51);
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 50%) 0px 40px 80px -10px;
}

.quill-message-box-detail{
   
    width: 48% ;
    background: #27272B;
    border-radius: 24px;
    padding: 60px 75px 0px;
    margin-top: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.quill-message-box-detail:last-child{
    background-color: #EEE8F1;
    margin-left: 4%;
}

.quill-message-box-detail .header-img{
    width: 56px;
    height: 56px;
    }
    .quill-message-box-detail h2{
   
        font-weight: 600;
        font-size: 18px;
        color: rgb(175, 82, 222);
        letter-spacing: 0.18px;
        line-height: 1.28em;
        margin: 15px 0px 1em;
    }
    .quill-message-box-detail p, .quill-message-box-detail span{
   
    color: #fff;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: -0.01em;
    font-size: 20px;
    }

    .quill-message-box-detail span{
        color: rgba(255,255,255,0.6);
        font-weight: 300;
    }
    .quill-message-box-detail .video{
            margin-top: 60px;
            align-self: center;
            width: 270px;
            height: 370px;
    }

    .quill-message-box-detail:last-child p{
        color: #000;
    }
    .quill-message-box-detail:last-child span{
        color: rgba(0,0,0,0.6);}
































        @media (max-width: 768px){
            .quill-message-section-header{
                font-size: 25px;
            }
            .quill-message-section-description{
                font-size: 20px;
            }
            .quill-message-section-sub-description{
                font-size: 17px;
            }
            .quill-message-box-text{
                padding:25px;
            }
            .quill-message-box-detail{
                width: 100%;
                padding:25px;
            }
            .quill-message-box-detail:last-child{
            margin-left: 0;
            }
        }