.btn-header
{
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: var(--color);
    transition: color var(--duration) ease;
    
}
.text-white{color:white}

.logo::before {
    content: "";
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    transform: translateZ(1e-11px);
    opacity: 0.7;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.logo::after {
    content: "";
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    transform: translateZ(1e-11px);
    opacity: 0.7;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header
{
    height: 42px;
    padding: 0px 20px;
}

.float-right{float: right;}

.btn-blue-style{
    background: rgb(0, 122, 255);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 6px 12px;
}
.mrg-auto{margin: auto;}


.dk-footer {
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2; }
    .dk-footer .contact-us {
      margin-top: 0;
      margin-bottom: 30px;
      padding-left: 80px; }
      .dk-footer .contact-us .contact-info {
        margin-left: 50px; }
      .dk-footer .contact-us.contact-us-last {
        margin-left: -80px; }
    .dk-footer .contact-icon i {
      font-size: 24px;
      top: -15px;
      position: relative;
      color:#007bff; }
  
  .dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2; }
    .dk-footer-box-info .footer-social-link h3 {
      color: #fff;
      font-size: 24px;
      margin-bottom: 25px; }
    .dk-footer-box-info .footer-social-link ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    .dk-footer-box-info .footer-social-link li {
      display: inline-block; }
    .dk-footer-box-info .footer-social-link a i {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background: #000;
      margin-right: 5px;
      color: #fff; }
      .dk-footer-box-info .footer-social-link a i.fa-facebook {
        background-color: #3B5998; }
      .dk-footer-box-info .footer-social-link a i.fa-twitter {
        background-color: #55ACEE; }
      .dk-footer-box-info .footer-social-link a i.fa-google-plus {
        background-color: #DD4B39; }
      .dk-footer-box-info .footer-social-link a i.fa-linkedin {
        background-color: #0976B4; }
      .dk-footer-box-info .footer-social-link a i.fa-instagram {
        background-color: #B7242A; }
  
  .footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-awarad p {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      margin-left: 20px;
      padding-top: 15px; }
  
  .footer-info-text {
    margin: 26px 0 32px; }
  
  .footer-left-widget {
    padding-left: 80px; }
  
  .footer-widget .section-heading {
    margin-bottom: 35px; }
  
  .footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content; }
  
  .footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
  
  .footer-widget li {
    margin-bottom: 18px; }
  
  .footer-widget p {
    margin-bottom: 27px; }
  
  .footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .footer-widget a:hover {
      color: #007bff; }
  
  .footer-widget:after {
    content: "";
    display: block;
    clear: both; }
  
  .dk-footer-form {
    position: relative; }
    .dk-footer-form input[type=email] {
      padding: 14px 28px;
      border-radius: 50px;
      background: #2E2E2E;
      border: 1px solid #2E2E2E; }
    .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
      color: #878787;
      font-size: 14px; }
    .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
      color: #878787;
      font-size: 14px; }
    .dk-footer-form button[type=submit] {
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px 24px 12px 17px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border: 1px solid #007bff;
      background: #007bff;
      color: #fff; }
    .dk-footer-form button:hover {
      cursor: pointer; }
      
      .copyright-menu ul li:hover
      {
          color:white;
      }
      .copyright {
        padding: 10px 0px;
        margin-top: 0px;
        background-color: #202020; 
        }
        .copyright span,
        .copyright a {
          color: rgba(255,255,255,0.6);
          -webkit-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }
        .copyright a:hover {
          color:rgba(255,255,255,1);text-decoration: none; }
      .copyright-menu ul {
          float: left;
        text-align: right;
        margin: 0; }
      
      .copyright-menu li {
        display: inline-block;
        padding-left: 20px; }

    .float-left{float: left;}
    .footer-menu {display: inline-block  !important;}
    .mr-1{margin-right: 1rem;} 
    .brd-1{border-top: 1px solid rgba(255,255,255,0.1);}    
    .mr-10px{margin-left: 10px;}

    .footer-text{
        font-size: 17px;
        line-height: 1.23536em;
        font-weight: 500; 
        color: rgba(255, 255, 255, 0.9);
        font-weight: 600; 
    }         
.footer-text-bleu
{
  color: rgb(0, 162, 255) !important;
}
.img-footer{width: 70%;}

.card-background
{
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 100px 0px 120px;
  min-height: 300px;
  position: relative;
  z-index: 1;
  
  background: linear-gradient( 150deg, rgba(255, 64, 207, 0.5), rgba(101, 20, 252, 0.5)) rgb(0, 0, 0);
}
section{width: 100%;}
.lead { color:rgba(255, 255, 255, 0.7);}
.fs-12{font-size: 12px;}
.btn-white{
  background: rgb(255, 255, 255);
  border-radius: 16px;
  color: rgb(68, 22, 115) !important;
  border:none;
}
.btn-white:hover {
  filter: brightness(80%);
  background: rgb(255, 255, 255);
  border-radius: 16px;
  color: rgb(68, 22, 115) !important;
}
.btn-white:active {
  filter: brightness(80%);
  background: rgb(255, 255, 255);
  border-radius: 16px;
  color: rgb(68, 22, 115) !important;
}








.logo-container
{
    
  
    width: 80%;
   
    flex-grow: 1;
    margin: 0px auto;
    position: relative;
    z-index: 2;
    display:  flex !important;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
   
}
.logo-box{
    position: relative;
    width: 38.8%;
    top: 1px;
    z-index: 5;
    user-select: none;
}
.logo-box::after {
    content: "";
    display: block;
    padding-top: 100% ;
}

.logo-groupe {
    position: absolute;
    width: 100%;
    perspective: 1000px;
}

.logo-groupe img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
}
.mb60{
  margin-bottom: 60px;
}

.header-box{
    
   
    margin: 0px auto;
    padding: 20px 0px 40px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.page-header-title{
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.1226em;
    letter-spacing: -0.01em;
    margin: 17px 20px 23px;
    position: relative;
    z-index: 1;
    max-width: 500px;
}

.header-box .header-button{
    min-width: 139px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -0.3px;
    text-align: center;
    line-height: 22px;
    padding: 12px 20px;
    background: #763CF7;
    border-radius: 18px;
    display: block;
    margin-bottom: 15px;
}
.header-box .header-description{
text-decoration: none;
    font-family: var(--text);
    font-size: 12px;
    color: rgba(235, 235, 245, 0.68);
    letter-spacing: -0.08px;
    text-align: center;
    line-height: 18px;
    margin-top: 24px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    transition: color 200ms ease 0s;
}

.quill-message-section{

}

.quill-message-section-header{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0.546875em;
    line-height: 1.03125em;
    color: #BD58F0;
    max-width: 680px;
}
.quill-message-section-description{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    letter-spacing: 0.39px;
    line-height: 1.16667em;
    max-width: 680px;
}
.quill-message-section-sub-description{
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.18px;
    line-height: 1.16667;
    max-width: 680px
}

.quill-message-box{
    margin-top: 60px;
    border-radius: 24px;
    display: flex;
    padding: 50px 0px;
    flex-direction: row;
    position: relative;
    z-index: 1;
     background: linear-gradient( 320deg,rgba(235,70,52,0.5),rgba(235,70,52,0) ),linear-gradient(180deg,#bf5af2 0%,#7c0eb4 100%);
}
.quill-message-box-text{

    
    position: relative;
    padding: 75px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.quill-message-box-text img{
width: 56px;
height: 56px;
}
.quill-message-box-text h2{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -0.39px;
    margin-top: 25px;
   
    color: rgb(47,16,62);
}

.quill-message-box-desc{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1em;
    margin: 0.5em 0px;
    color: #fff
}

.quill-message-box-sub-desc{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 17px;
    line-height: 1.2em;
    font-weight: 500;
    padding-top: 15px;
}
.quill-message-box-sub-desc::before {
    content: "";
    display: block;
    width: 90%;
    margin-bottom: 18px;
    background: rgba(255, 255, 255, 0.2);
    height: 2px;
    border-radius: 2px;
}

.quill-message-box-video{
    border-radius: 10px;
    background: rgb(51, 51, 51);
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 50%) 0px 40px 80px -10px;
}

.quill-message-box-detail{
   
    width: 48% ;
    background: #27272B;
    border-radius: 24px;
    padding: 60px 75px 0px;
    margin-top: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.quill-message-box-detail:last-child{
    background-color: #EEE8F1;
    margin-left: 4%;
}

.quill-message-box-detail .header-img{
    width: 56px;
    height: 56px;
    }
    .quill-message-box-detail h2{
   
        font-weight: 900;
        font-size: 20px;
        color: rgb(175, 82, 222);
        letter-spacing: 0.18px;
        line-height: 1.28em;
        margin: 15px 0px 1em;
    }
    .quill-message-box-detail p, .quill-message-box-detail span{
   
    color: #fff;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -0.01em;
    font-size: 20px;
    }

    .quill-message-box-detail span{
        color: rgba(255,255,255,0.6);
        font-weight: 300;
    }
    .quill-message-box-detail .video{
            margin-top: 60px;
            align-self: center;
            width: 270px;
            height: 370px;
    }

    .quill-message-box-detail:last-child p{
        color: #000;
    }
    .quill-message-box-detail:last-child span{
        color: rgba(0,0,0,0.6);}










        .message-section-white .quill-message-box{
          background:  linear-gradient( 320deg,rgba(92,235,52,0.3),rgba(92,235,52,0) ),linear-gradient(180deg,#27a4d6 0%,#1a6d8e 100%) !important;
        }

        .message-section-white .quill-message-section-header{
         color: rgb(39, 164, 214)

        }

        .message-section-white .quill-message-section-description{
          color:#000
        }
        .message-section-white .quill-message-section-sub-description{
          color:rgba(0, 0, 0, 0.514)
        }



        .message-section-white .quill-message-box-detail
        {
          background-color: #fff;
          width: 58%;
          padding: 75px;
        }

        .message-section-white .quill-message-box-detail:last-child
        {
          width: 38%;
        }
        .message-section-white  .quill-message-box-detail>p{
          color: #000;
        }
        .message-section-white  .quill-message-box-detail>span{
          color: rgba(0, 0, 0, 0.623);
        }

        .message-section-white  .quill-message-box-detail>img{
        
          width: 80%;
          height: auto;
        }



        @media (max-width: 768px){
            .quill-message-section-header{
                font-size: 25px;
            }
            .quill-message-section-description{
                font-size: 20px;
            }
            .quill-message-section-sub-description{
                font-size: 17px;
            }
            .quill-message-box-text{
                padding:25px;
            }
            .quill-message-box-detail{
                width: 100%;
                padding:25px;
            }
            .quill-message-box-detail:last-child{
            margin-left: 0;
            }
            .message-section-white .quill-message-box-detail{
              width: 100%  !important;
            }
        }